@use './../../../../../../../../shared/styles/typography/typography.module' as
  typo;

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-inverted);

}

.wrapper {
  display: flex;
   align-items: center;
  gap: 40px;
}

.dropdown-wrapper {
  margin-top: 11px;
}

.left-side {
  display: flex;
  gap: 8px;
}

.info {
  @include typo.b2;
  white-space: nowrap;
}
