@use '@/src/shared/styles/breakpoints/breakpoints.module' as *;
.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.4);
}

.content {
  position: relative;
  width: 50%;
  min-width: 280px;
  background-color: var(--bg-inverted);
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 16px;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media-max($breakpoint-tablet) {
    width: 70%;
    padding: 24px 16px;
  }

  @include media-max($breakpoint-sm) {
    width: 95%;
    padding: 16px 12px;
  }
}

.close-btn {
  position: absolute;
  top: 0;
  right: -50px;

  background: none;
  border: none;
  cursor: pointer;
  z-index: 10000;
}
