@use './../../../../../shared/styles/typography/typography.module' as typo;

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  white-space: nowrap;
  border-radius: 8px;
  border: none;
  max-height: 48px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;

  &:active {
    transform: scale(0.97);
  }
}

.title {
  @include typo.b1;
}

.small {
  padding: 8px 16px;

  .title {
    @include typo.b1;
  }
}

.medium {
  padding: 13px 40px;

  .title {
    @include typo.b1;
  }
}

.large {
  padding: 20px 60px;

  .title {
    @include typo.b1;
  }
}

.full-width {
  width: 100%;
  display: flex;
  align-items: center;
}

/* ------------------ Варианты кнопки ------------------ */

/* Primary */
.primary {
  background-color: var(--bg-primary);
  color: var(--text-primary);

  &:hover:not(:disabled) {
    background-color: var(--bg-primary-hover);
  }

  &:focus:not(:disabled) {
    outline: none;
    background-color: var(--bg-primary);
    color: var(--text-primary);

    &:hover {
      background-color: var(--bg-primary-hover);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.85;
    background-color: var(--bg-disabled);
    color: var(--text-primary);
    transform: none;
  }
}

/* Danger */
.danger {
  background-color: var(--bg-danger);
  color: var(--text-primary);

  &:hover:not(:disabled) {
    background-color: var(--bg-danger-hover);
  }

  &:focus:not(:disabled) {
    outline: none;
    background-color: var(--bg-danger);
    color: var(--text-primary);

    &:hover {
      background-color: var(--bg-danger-hover);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.9;
    background-color: var(--bg-danger-hover);
    color: var(--text-primary);
    transform: none;
  }
}

/* Ghost */
.ghost {
  background-color: var(--bg-ghost);
  color: var(--text-inverted);;
  border: 2px solid var(--border-primary);

  &:hover:not(:disabled) {
    color: var(--text-inverted);
    background-color: var(--bg-ghost);
  }

  &:focus:not(:disabled) {
    outline: none;
    background-color: var(--bg-ghost);
    color: var(--text-inverted);

    &:hover {
      background-color: var(--bg-ghost);
      color: var(--text-inverted);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.9;
    background-color: var(--bg-ghost);
    color: var(--text-inverted);
    transform: none;
  }
}

/* ------------------ Состояние загрузки ------------------ */
.loading {
  cursor: not-allowed;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 13%;
  transform: translate(-50%, -50%);
}

/* ------------------ Иконки ------------------ */
.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.left {
    margin-right: 0.5rem;
  }

  &.right {
    margin-left: 0.5rem;
  }
}
