$breakpoint-xs: 420px;    
$breakpoint-sm: 520px;    
$breakpoint-md: 640px;    
$breakpoint-tablet: 768px; 
$breakpoint-lg: 850px;    
$breakpoint-laptop: 1024px; 
$breakpoint-xl: 1200px;   
$breakpoint-desktop: 1280px; 
$breakpoint-xxl: 1440px;  
$breakpoint-hds: 1560px;
$breakpoint-fhd: 1700px;
$breakpoint-uhd: 1920px;  

@mixin media-max($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin media-min($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin media-between($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}