@use '@/src/shared/styles/typography/typography.module' as typo;
@use '@/src/shared/styles/breakpoints/breakpoints.module' as *;
.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.labelExtra {
  @include typo.h2;
  font-size: 25px;
  color: var(--text-secondary);
}
