@use '@/src/shared//styles/shadows/shadows.module' as *;
@use '@/src/shared/styles/typography/typography.module' as typo;
@use '@/src/shared/styles/breakpoints/breakpoints.module' as *;

.card {
  width: 100%;

  border-radius: 16px;
  background: var(--bg-inverted);
  padding: 20px;
  @include shadow(medium-glow);
  display: flex;
  flex-direction: column;
  gap: 12px;
  -webkit-user-drag: none;

  user-select: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  &:hover {
    transform: translateY(-6px);
  }

  @include media-max($breakpoint-tablet) {
    flex-direction: row;
  }
}

.imageWrapper {
  user-select: none;
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 12px;
  flex-shrink: 0;
  -webkit-user-drag: none;

  user-select: none;

  @include media-max($breakpoint-tablet) {
    max-width: 200px;
  }

  @include media-max($breakpoint-sm) {
    max-width: 120px;
  }
}

.image {
  object-fit: contain;
  user-select: none;
  object-position: center;
  -webkit-user-drag: none;
  user-select: none;
}

.badge {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 2;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 6px;
  color: var(--text-primary);
}

.new {
  background: var(--bg-danger);
}

.popular {
  background: var(--bg-danger);
}

.title {
  @include typo.b1;
  font-weight: bold;
}

.ingredients {
  @include typo.b2;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  margin-top: auto;
  gap: 12px;

  .mobile-footer {
    display: none;
  }

  .desktop-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  @include media-max($breakpoint-tablet) {
    .desktop-footer {
      display: none;
    }

    .mobile-footer {
      display: flex;
      gap: 8px;
      justify-content: flex-start; // чтобы кнопка сжималась вместе с контентом
    }

    .mobile-footer button {
      background-color: var(--bg-primary-low);
      color: var(--text-inverted);

      padding: 10px;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  min-height: 0;

  @include media-max($breakpoint-tablet) {
    flex: 1;
    gap: 6px;
  }
}

.price {
  @include typo.b1;
  font-weight: bold;
  color: var(--text-inverted);
  white-space: nowrap;
}
