@use '@/src/shared/styles/typography/typography.module' as typo;

.root {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--bg-inverted);
  border-radius: 8px;
  padding: 32px 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.label {
  @include typo.h2;
  font-size: 24px;
  color: var(--text-secondary);
  padding-bottom: 16px;

  
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
