:root {
  /* Orange */

  --orange-500: #ff7010;
  --orange-700: #bb5e21;


  /* Gray */
  --gray-0: #ffffff;
  --gray-100: #F0F0F0;
  --gray-300: #d9d9d9;
  --gray-600: #A5A5A5;
  --gray-800: #191919;

  /* Red */
  --red-500: #E23535;
}
