:root {
  /* Orange */
  --orange-100: #fdd4b9;
  --orange-500: #ff7010;
  --orange-700: #e66f34;

  /* Gray */
  --gray-0: #ffffff;
  --gray-100: #f0f0f0;
  --gray-200: #f9f9f9;
  --gray-300: #d9d9d9;
  --gray-600: #a5a5a5;
  --gray-800: #191919;

  /* Red */
  --red-500: #e23535;
  --red-600: #bd2d2d;

  /* Green */
  --green-500: #18b926;
}
