[data-theme='dark'] {
  /* Background */
  --bg-primary: var(--orange-500);
  --bg-primary-hover: var(--orange-700);
  --bg-secondary: var(--gray-100);

  --bg-disabled: var(--gray-600);
  --bg-danger: var(--red-500);
  --bg-danger-hover: var(--red-600);
  --bg-ghost: var(--gray-200);

  /* Text */
  --text-primary: var(--gray-0);
  --text-secondary: var(--gray-100);
  --text-inverted: var(--orange-500);
  --text-placeholder: var(--gray-600);
  --text-danger: var(--red-500);

  /* Border */

  --border-primary: var(--orange-500);


  /* Spinners */

  --spinner-primary: var(--gray-0);
  --spinner-ghost: var(--orange-500);
}
