[data-theme='light'] {
  /* Background */
  --bg-primary: var(--orange-500);
  --bg-primary-hover: var(--orange-700);
  --bg-secondary: var(--gray-100);

  --bg-disabled: var(--gray-600);


  /* Text */
  --text-primary: var(--gray-800);
  --text-secondary: var(--gray-0);
  --text-inverted: var(--orange-500);
  --text-placeholder: var(--gray-600);
  --text-danger: var(--red-500);

  // /* Action */
  // --action-primary: var(--orange-500);
  // --action-primary-hover: var(--orange-700);

  // /* Border */
  // --border-default: var(--gray-300);

  // /* Status */
  // --status-danger: var(--red-500);
}