@use '@/src/shared/styles/typography/typography.module' as typo;
.counter {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: var(--bg-primary-low);

  padding: 4px 8px;
  gap: 4px;

  .button {
    @include typo.b2;
    background: transparent;
    border: none;
    color: var(--text-inverted);

    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

  .value {
    @include typo.b2;
    min-width: 24px;
    text-align: center;
    color: var(--text-inverted);
  }
}
