@use '@/src/shared/styles/breakpoints/breakpoints.module' as *;
@use '@/src/shared/styles/typography/typography.module' as typo;
.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-inverted);
  padding: 10px 0;
}

.left-side {
  display: flex;
  gap: 8px;
  @include media-max($breakpoint-lg) {
    gap: 2px;
  }
}

.delivery-time {
  font-weight: bold;
}

.info {
  @include typo.b2;
  white-space: nowrap;

  @include media-max($breakpoint-xl) {
    @include typo.b4;
  }

  @include media-max($breakpoint-xs) {
    @include typo.b5;
  }
}

.dropdown {
  @include media-max($breakpoint-xs) {
    width: 80px;
  }

  &-label {
    font-size: 12px;
  }
}
