@use '@/src/shared/styles/typography/typography.module' as typo;
@use '@/src/shared/styles/breakpoints/breakpoints.module' as *;
.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.label {
  @include typo.h1;
  color: var(--text-secondary);
}
