@use '@/src/shared/styles/typography/typography.module' as typo;
@use '@/src/shared//styles/shadows/shadows.module' as *;

.container {
  position: relative;
  display: inline-block;
}
.button {
  display: flex;
  align-items: center;
  cursor: pointer;
  @include typo.b2;
  color: var(--text-secondary);
  user-select: none;
  width: 100%;
}
.label {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 15px;
}

.arrow-icon {
  transition: transform 0.3s ease-in-out;

  &.open {
    transform: rotate(90deg);
  }
}
.menu {
  position: absolute; 
  z-index: 10000;

  border-radius: 4px;
  @include shadow(medium-glow);
  border: 1px var(--border-default) solid;

  list-style: none;
  padding: 10px 2px;
  max-height: 200px;
  overflow-y: auto;
  background-color: var(--bg-inverted);

  box-sizing: border-box;
}

.item {
  padding: 10px 12px;
  cursor: pointer;
  @include typo.b2;
  color: var(--text-placeholder);
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 100%;
  text-decoration: none;
  &:hover {
    color: var(--text-secondary);
  }
  &.active {
    color: var(--text-secondary);
  }
}
