@use '@/src/shared/styles/typography/typography.module' as typo;
@use '@/src/shared/styles/breakpoints/breakpoints.module' as *;
.drawerContent {
  display: flex;
  flex-direction: column;
  height: 95%;
  padding-right: 100px;
  gap: 24px;
  padding-top: 20px;
  overflow-y: auto;

  @include media-max($breakpoint-sm) {
    padding-right: 0px;
  }
}

.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.groupLabel {
  @include typo.b1;
  color: var(--text-placeholder);
}

.groupOptions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.drawerFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  button {
    flex: 1;

    @include media-max($breakpoint-sm) {
      padding: 10px;
    }
  }
}
